.image {
    margin-top: 60px;
    margin-left: 30px;
}
.image:hover {
    margin-top: 60px;
    margin-left: 30px;
    -webkit-transform: rotate(-30deg) ;
    -moz-transform: rotate(-30deg) ;
    -ms-transform: rotate(-30deg) ;
    -o-transform: rotate(-30deg) ;
    transform: rotate(-30deg) ;
}

