#rainbow-block {
    height: 100px;
    width: 100%;
    background: linear-gradient(90deg, #ec3423 1%, yellow 32%, green 48%, blue 70%, indigo 85%, violet 100%);
}
#horn-block {
    width: 0;
    height: 0;
    margin-left: 100px;
    margin-top: -40px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 115px solid grey;
}